{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Borrowing" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alessandria/layout/ajax_select/css/ajax_select.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-ui/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="/static/alessandria/layout/bootstrap_datepicker/css/bootstrap-datepicker3.css">
{% endblock %}

{% block pageTitle %}
    {% if object.id %}
        {% trans "Borrowing of" %}&nbsp;<a href="{% url 'alessandria:book_update' object.bookcopy.book.id %}">{{ object.bookcopy }}</a> {% trans "by" %} <a href="{% url 'alessandria:reader_update' object.reader.id %}">{{ object.reader }}</a> ({{ object.borrowed_date}})
    {% else %}
        {% trans "New borrowing" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        {% include 'alessandria/_inc_form_edit_header.html' %}
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% include 'alessandria/_inc_form_edit_content_std.html' %}
                    {% include 'alessandria/_inc_form_edit_buttons_std.html' with delete_url='alessandria:reader_borrow_delete' %}
                </form>
                {% include 'alessandria/_inc_form_edit_footer.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    {% if object.id > 0 %}
        {% for author in object.bookcopy.book.authors.all %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Other books of" %}&nbsp;<a href="{% url 'alessandria:author_update' author.id %}">{{ author }}</a></h3>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for book in author.book_set.all %}
                        {% if book.id != object.bookcopy.book.id %}
                            <li>
                                <a href="{% url 'alessandria:book_update' book.id %}">{{ book }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block jscript %}
<script src="/static/alessandria/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alessandria/layout/ajax_select/js/ajax_select.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
<script>
{% get_current_language as LANGUAGE_CODE %}
$(function() {
    $('#id_borrowed_date').datepicker({
      language: "{{ LANGUAGE_CODE }}",
      autoclose: true,
      todayHighlight: true,
    });

    $('#id_borrow_due_date').datepicker({
      language: "{{ LANGUAGE_CODE }}",
      autoclose: true,
    });

    $('#id_returned_on').datepicker({
      language: "{{ LANGUAGE_CODE }}",
      autoclose: true,
    });
});
</script>
{% endblock %}
