{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% block title %}{% trans "Reader" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alessandria/layout/bootstrap_datepicker/css/bootstrap-datepicker3.css">
{% endblock %}

{% block pageTitle %}{% trans "Reader" %}:&nbsp;{{ object.get_full_name|default:_("new") }}{% endblock %}

{% block content %}

{% if object.id > 0 %}
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#mainForm" aria-controls="mainForm" role="tab" data-toggle="tab">{% trans "Form" %}</a></li>
    <li role="presentation"><a href="#borrows" aria-controls="borrows" role="tab" data-toggle="tab">{% trans "Borrowings" %}</a></li>
</ul>
{% endif %}

<div class="tab-content">
    <div role="tabpanel" class="row tab-pane active" id="mainForm">
        <div class="col-sm-12">
            {% include 'alessandria/_inc_form_edit_header.html' %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                        {% include 'alessandria/_inc_form_edit_content_std.html' %}
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        {% if form.instance.id > 0 %}
                            {% if not form.instance.is_disabled %}
                                <a class="btn btn-warning" href="{% url 'alessandria:reader_disable' form.instance.id %}">{% trans "Disable" %}</a>
                            {% endif %}
                        {% endif %}
                    </form>
                {% include 'alessandria/_inc_form_edit_footer.html' %}
                </div>
            </div>
        </div>
    </div>
    {% if object.id > 0 %}
    <div role="tabpanel" class="row tab-pane" id="borrows">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Summary" %}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Nb d'emprunts:</dt><dd>{{ object.nb_borrow }}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Current borrowings" %}</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date emprunt</th>
                            <th>Livre</th>
                            <th>Retour pour le</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for borrow in object.list_borrow_current|slice:":10" %}
                        {% if borrow.is_late %}
                            <tr class="bg-warning">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                                <td><a href="{% url 'alessandria:book_update' borrow.bookcopy.book.id %}">{{ borrow.bookcopy.book }}</a></td>
                                <td>{{ borrow.borrow_due_date|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "All borrowings" %}</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Borrowing date" %}</th>
                            <th>{% trans "Book" %}</th>
                            <th>{% trans "Returned on" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for borrow in object.list_borrow_all %}
                        <tr>
                            <td><a href="{% url 'alessandria:reader_borrow_update' borrow.id %}">{{ borrow.borrowed_date|date:"SHORT_DATE_FORMAT" }}</a></td>
                            <td><a href="{% url 'alessandria:book_update' borrow.bookcopy.book.id %}">{{ borrow.bookcopy.book }}</a></td>
                            <td>{{ borrow.returned_on|date:"SHORT_DATE_FORMAT" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block jscript %}
<script type="text/javascript" src="/static/alessandria/layout/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/alessandria/layout/bootstrap_datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
<script>
{% get_current_language as LANGUAGE_CODE %}
$(function() {
    $('#id_inscription_date').datepicker({
      language: "{{ LANGUAGE_CODE }}",
      autoclose: true,
      todayHighlight: true,
    });
});
</script>
{% endblock %}
